<!--
Component: team
Used on: about.html, index.html, index-v2.html
Editable fields:
REPLACE: Text content
REPLACE: Images or media
REPLACE: Links and buttons
-->
<!-- section-team -->
<div class="section-team flat-spacing">
    <div class="container">
        <div class="heading-section center mb-64">
            <div class="heading-sub fw-semibold style-1 effectFade fadeUp">Our Team</div>
            <div class="heading-title text-white effectFade fadeRotateX">The Team Behind <br> Mantrik Labs</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 lg-mb-24">
                <div class="team-item h-100 effectFade fadeUp">
                    <div class="image">
                        <img src="assets/images/team/team-1.jpg" alt="">
                    </div>
                    <a href="#" class="name h6 fw-semibold">Founder & CEO</a>
                    <div class="sub text-body-1">Strategy, vision, client relationships</div>
                    <div class="tf-social justify-content-center">
                        <a href="#" class="social-item">
                            <i class="icon icon-twitter-x"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="icon icon-linkedin-in"></i>
                        </a>
                        <a href="#" class="social-item">
                            <i class="icon icon-github"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 lg-mb-24">
                <div class="team-item style-1 mb-24 effectFade fadeUp">
                    <div class="top">
                        <div class="image">
                            <img src="assets/images/team/team-2.jpg" alt="">
                        </div>
                        <div class="tf-social justify-content-center">
                            <a href="#" class="social-item">
                                <i class="icon icon-github"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="icon icon-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="name text-body-1 fw-semibold">Lead AI Engineer</a>
                    <div class="sub">Voice systems, LLM pipelines, automations</div>
                </div>
                <div class="team-item style-1 effectFade fadeUp">
                    <div class="top">
                        <div class="image">
                            <img src="assets/images/team/team-3.jpg" alt="">
                        </div>
                        <div class="tf-social justify-content-center">
                            <a href="#" class="social-item">
                                <i class="icon icon-github"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="icon icon-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="name text-body-1 fw-semibold">Lead Designer</a>
                    <div class="sub">UI/UX, brand identity, Figma prototypes</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item style-1 mb-24 effectFade fadeUp" data-delay="0.1">
                    <div class="top">
                        <div class="image">
                            <img src="assets/images/team/team-4.jpg" alt="">
                        </div>
                        <div class="tf-social justify-content-center">
                            <a href="#" class="social-item">
                                <i class="icon icon-github"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="icon icon-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="name text-body-1 fw-semibold">Lead Developer</a>
                    <div class="sub">React, Next.js, Flutter, Node.js</div>
                </div>
                <div class="team-item style-1 effectFade fadeUp" data-delay="0.1">
                    <div class="top">
                        <div class="image">
                            <img src="assets/images/team/team-5.jpg" alt="">
                        </div>
                        <div class="tf-social justify-content-center">
                            <a href="#" class="social-item">
                                <i class="icon icon-github"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="icon icon-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="name text-body-1 fw-semibold">QA & Support Lead</a>
                    <div class="sub">Testing, launch support, product improvements</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /section-team -->