<!--
Component: page-title
Used on: blog-single.html, blog-standard.html, blog-three-columns.html, blog-two-columns.html
Editable fields:
REPLACE: Text content
REPLACE: Images or media
REPLACE: Links and buttons
-->
<!-- page-title -->
<div class="section-page-title">
    <div class="container text-center">
        <h1 class="page-title fw-semibold effectFade fadeZoom">Mantrik Labs</h1>
        <div class="breadcrumbs effectFade fadeUp">
            <a href="index.html" class="link1">Home</a>
            <div>/</div>
            <div>Blog</div>
        </div>
    </div>
</div>
<!-- /page-title -->