<!-- page-title -->
<div class="section-page-title flat-spacing-top">
    <div class="container text-center">
        <div class="heading-section center mb-0">
            <div class="heading-sub fw-semibold effectFade fadeUp">Legal</div>
            <h1 class="heading-title text-gradient-3 effectFade fadeRotateX mt-3 mb-4">Policies & Terms</h1>
            <p class="text-body-2 text-secondary effectFade fadeUp">Last Updated: May 2026 &nbsp;|&nbsp; Version 2.1</p>
        </div>
    </div>
</div>
<!-- /page-title -->
