<!--
Component: testimonials
Used on: about.html, index.html, index-v2.html, work-single.html
Editable fields:
REPLACE: Text content
REPLACE: Images or media
REPLACE: Links and buttons
-->
<!-- section-testimonials -->
<div class="section-testimonials flat-spacing pt-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="col-left">
                    <div class="heading-section mb-48">
                        <div class="heading-sub fw-semibold style-1">Testimonials</div>
                        <div class="heading-title text-white">What Our <br> Clients Says</div>
                    </div>
                    <div class="swiper-testimonial_wrap">
                        <div dir="ltr" class="swiper swiper-testimonial">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div>
                                        <div class="top-icon mb-24">
                                            <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.9375 20V10.3597C12.9375 7.72182 13.824 5.51559 15.5969 3.74101C17.4177 1.91847 19.8854 0.671463 23 0V6.40288C21.8021 6.78657 21.0115 7.26619 20.6281 7.84173C20.2448 8.3693 20.0292 9.04077 19.9813 9.85612H23V20H12.9375ZM0 20V10.3597C0 7.72182 0.886459 5.51559 2.65938 3.74101C4.48021 1.91847 6.94792 0.671463 10.0625 0V6.40288C8.9125 6.78657 8.12187 7.26619 7.69062 7.84173C7.30729 8.3693 7.09167 9.04077 7.04375 9.85612H10.0625V20H0Z"
                                                    fill="#FD3A25" />
                                            </svg>
                                        </div>
                                        <div class="text-body-1 text-white desc">
                                            Their AI receptionist cut our missed calls to almost zero. Setup was done in 10 days.
                                        </div>
                                        <div class="cite mb-0 mt-32">
                                            <img class="line-left" src="assets/images/item/line-1.png" alt="">
                                            <div class="name text-body-3 text-neutral-400 fw-semibold">Restaurant Owner</div>
                                            <div class="line"></div>
                                            <div class="sub text-body-3 text-neutral-400">USA</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <div class="top-icon mb-24">
                                            <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.9375 20V10.3597C12.9375 7.72182 13.824 5.51559 15.5969 3.74101C17.4177 1.91847 19.8854 0.671463 23 0V6.40288C21.8021 6.78657 21.0115 7.26619 20.6281 7.84173C20.2448 8.3693 20.0292 9.04077 19.9813 9.85612H23V20H12.9375ZM0 20V10.3597C0 7.72182 0.886459 5.51559 2.65938 3.74101C4.48021 1.91847 6.94792 0.671463 10.0625 0V6.40288C8.9125 6.78657 8.12187 7.26619 7.69062 7.84173C7.30729 8.3693 7.09167 9.04077 7.04375 9.85612H10.0625V20H0Z"
                                                    fill="#FD3A25" />
                                            </svg>
                                        </div>
                                        <div class="text-body-1 text-white desc">
                                            They automated our entire lead follow-up. Saves us 15+ hours a week.
                                        </div>
                                        <div class="cite mb-0 mt-32">
                                            <img class="line-left" src="assets/images/item/line-1.png" alt="">
                                            <div class="name text-body-3 text-neutral-400 fw-semibold">Clothing Business</div>
                                            <div class="line"></div>
                                            <div class="sub text-body-3 text-neutral-400">Nepal</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div>
                                        <div class="top-icon mb-24">
                                            <svg width="23" height="20" viewBox="0 0 23 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.9375 20V10.3597C12.9375 7.72182 13.824 5.51559 15.5969 3.74101C17.4177 1.91847 19.8854 0.671463 23 0V6.40288C21.8021 6.78657 21.0115 7.26619 20.6281 7.84173C20.2448 8.3693 20.0292 9.04077 19.9813 9.85612H23V20H12.9375ZM0 20V10.3597C0 7.72182 0.886459 5.51559 2.65938 3.74101C4.48021 1.91847 6.94792 0.671463 10.0625 0V6.40288C8.9125 6.78657 8.12187 7.26619 7.69062 7.84173C7.30729 8.3693 7.09167 9.04077 7.04375 9.85612H10.0625V20H0Z"
                                                    fill="#FD3A25" />
                                            </svg>
                                        </div>
                                        <div class="text-body-1 text-white desc">
                                            Best agency we've worked with. Transparent, fast, and the product actually works.
                                        </div>
                                        <div class="cite mb-0 mt-32">
                                            <img class="line-left" src="assets/images/item/line-1.png" alt="">
                                            <div class="name text-body-3 text-neutral-400 fw-semibold">Tech Solutions</div>
                                            <div class="line"></div>
                                            <div class="sub text-body-3 text-neutral-400">Japan</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-slider mt-48">
                            <div class="group-btn-slider">
                                <div class="btn-slider nav-prev-swiper testimonials-prev">
                                    <i class="icon icon-angle-left-solid"></i>
                                </div>
                                <div class="btn-slider nav-next-swiper testimonials-next">
                                    <i class="icon icon-angle-right-solid"></i>
                                </div>
                            </div>
                            <div class="testimonials-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div dir="ltr" class="swiper sw-main-image">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-image">
                                <img src="assets/images/section/tes-1.JPEG" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-image">
                                <img src="assets/images/section/tes-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-image">
                                <img src="assets/images/section/tes-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /section-testimonials -->