<!--
Component: delay-cta
Used on: work.html
Editable fields:
REPLACE: Text content
REPLACE: Images or media
REPLACE: Links and buttons
-->
<!-- section-delay -->
<div class="section-delay flat-spacing">
    <div class="container">
        <div class="heading-section center mb-64">
            <div class="heading-sub fw-semibold effectFade fadeUp">Why Delay Hurts</div>
            <div class="heading-title text-gradient-3 effectFade fadeRotateX">The longer you wait, the harder <br> it is
                to catch up.</div>
        </div>
        <div class="delay-wrap">
            <div class="delay-item">
                <div class="left">
                    <h6 class="effectFade fadeUp title fw-semibold mb-12">Manual Operations Slow Progress</h6>
                    <h6 class="effectFade fadeUp title fw-semibold">/ 01</h6>
                </div>
                <div class="right">
                    <div class="delay-progress mb-12">
                        <div class="progress-line" data-progress="80"></div>
                        <h4 class="number-progress fw-semibold text-white">80%</h4>
                    </div>
                    <div class="text text-secondary text-end">/Workload</div>
                </div>
            </div>
            <div class="delay-item">
                <div class="left">
                    <h6 class="effectFade fadeUp title fw-semibold mb-12">Competitors Outpace Innovation</h6>
                    <h6 class="effectFade fadeUp title fw-semibold">/ 02</h6>
                </div>
                <div class="right">
                    <div class="delay-progress mb-12">
                        <div class="progress-line" data-progress="65"></div>
                        <h4 class="number-progress fw-semibold text-white">65%</h4>
                    </div>
                    <div class="text text-secondary text-end">/Growth</div>
                </div>
            </div>
            <div class="delay-item">
                <div class="left">
                    <h6 class="effectFade fadeUp title fw-semibold mb-12">Automation Potential Remains Untapped</h6>
                    <h6 class="effectFade fadeUp title fw-semibold">/ 03</h6>
                </div>
                <div class="right">
                    <div class="delay-progress mb-12">
                        <div class="progress-line" data-progress="70"></div>
                        <h4 class="number-progress fw-semibold text-white">70%</h4>
                    </div>
                    <div class="text text-secondary text-end">/Opportunities</div>
                </div>
            </div>
            <div class="delay-item">
                <div class="left">
                    <h6 class="effectFade fadeUp title fw-semibold mb-12">Repetition Replaces Creativity</h6>
                    <h6 class="effectFade fadeUp title fw-semibold">/ 04</h6>
                </div>
                <div class="right">
                    <div class="delay-progress mb-12">
                        <div class="progress-line" data-progress="49"></div>
                        <h4 class="number-progress fw-semibold text-white">49%</h4>
                    </div>
                    <div class="text text-secondary text-end">/Draining Time</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /section-delay -->